/* Resetting padding and margin */
* {
  padding: 0;
  margin: 0;
}

/* Body Styling */
body {
  background-color: rgb(210, 182, 45);
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

#icons {
  position: fixed;
  z-index: 69;
  top: 69px;
  left: 0;
  padding: 22px 11px;
}
.logo {
  margin-top: 11px;
  padding: 6px;
  border-radius: 50%;
}

/* ToolTip Styling */
.tooltip {
  position: relative;
  text-align: center;
}
.tooltip::after {
  background-color: #ddff54;
  border-radius: 10px;
  color: #333;
  display: none;
  padding: 10px 15px;
  position: absolute;
  text-align: center;
  z-index: 999;
}
.tooltip.right::after {
  content: attr(data-title);
  top: 0;
  right: 0;
  transform: translateX(calc(100% + 10px));
}
.tooltip:hover::after {
  display: block;
}
.tooltip::before {
  background-color: #ddff54;
  content: " ";
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 999;
}

.tooltip:hover::before {
  display: block;
}

.tooltip.right::before {
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 5px), -50%) rotate(45deg);
}

/* Map Styling */
#map {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* Progress Section Styling */
#progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

/* Progress Bar Styling */
#bar {
  position: absolute;
  bottom: 0;
  height: 33px;
  z-index: 69;
}

#extra-info {
  position: absolute;
  top: 0;
  padding: 11px 22px;
  font-size: 11pt;
  background-color: rgba(17, 105, 68, 0.69);
  border-radius: 0 0 16px 16px;
  z-index: 69;
}

#extra-info img {
  vertical-align: text-bottom;
  height: 1.6em;
}

/* Progress Bar Text Styling */
.progressbar-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #f1d962;
  width: 100vw;
  margin-top: 4px;
  font-weight: 900;
  text-align: center;
}

/* Miscellaneous Styling */
.oop {
  position: relative;
  height: 10px;
  background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
}

/* Media Queries for Responsiveness */
/* Smartphone landscape format */
@media (max-width: 969px) {
  #bar {
    height: 33px;
  }
  #extra-info {
    font-size: 10pt;
    font-weight: 600;
  }
  .progressbar-text {
    font-size: 11pt;
    margin-top: 6px;
  }
}

/* Smartphone portrait format */
@media (max-width: 444px) {
  #bar {
    height: 36px;
  }
  #extra-info {
    width: 60vw;
    font-size: 9pt;
    font-weight: 800;
    text-align: center;
  }
  .progressbar-text {
    font-size: 11pt;
    font-weight: 900;
    margin-top: 9px;
  }
}

.light-modal-content {
  border-radius: 1% 6%;
  background-color: #f1d962;
  color: #333;
  font-family: "Courier New", Courier, monospace;
}
.light-modal-content ul {
  margin-left: 22px;
  list-style-type: circle;
}
.kleuren__changer {
  animation: pulse 690ms ease-in-out alternate infinite;
}
@keyframes pulse {
  0% {
    background-color: #ddff5469;
  }
  100% {
    background-color: #eeeeee00;
  }
}

.fietser {
  /* transform: scaleX(-1); */
  transform-origin: center;
}

.marker {
  background-image: url(/images/tentie.svg);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: contain;
  width: 44px;
  height: 44px;
}
.leaflet-div-icon {
  border: none;
  background-color: transparent;
}

/* #vuurwerkers {
  position: fixed;
  z-index: 70;
  bottom: -33px;
  left: calc(50%-width/2);
  width: 169px;
  height: 169px;
  border-radius: 11% 11% 0% 0%;
  background-color: rgba(17, 105, 68, 0.22);
  /* background-color: #11223311; */
/* background-image: url(/images/vuurwerk.gif); */
/* } */
