/* Resetting padding and margin */
* {
  padding: 0;
  margin: 0;
}

/* Body Styling */
body {
  background-color: #d2b62d;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

/* Header Styling */
/* header {
  position: fixed;
  top: 0;
  height: 200px;
  width: 100vw;
}

/* Photos Section Styling */
/* #fotos {
  margin-top: 44vh;
  background-color: cadetblue;
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100vw;
  height: 100vh;
} */

/* Blog Section Styling */
/* #blog {
  width: 100vw;
  min-height: 93vh;
  padding-top: 4vh;
  margin-top: 44vh;
} */

/* Map Styling */
#map {
  height: 97vh;
  width: 100vw;
  z-index: 1;
}

/* Progress Section Styling */
#progress {
  /* position: absolute; */
  /* height: 11vh; */
  /* background-color: #a026bf; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  bottom: 0;
}

#bar {
  /* position: relative; */
  /* bottom: 0; */
  height: 3vh;
}

#extra-info {
  position: absolute;
  top: 3vh;
  z-index: 69;
  height: 20px;
  padding: 8px 16px;
  font-size: 11pt;
  background-color: rgba(255, 105, 68, 0.4);
  border-radius: 0 0 16px 16px;
  width: 69vw;
  text-align: center;
}

/* Progress Bar Text Styling */
.progressbar-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #e6d57f;
  width: 100vw;
  margin: 0;
  font-weight: bolder;
  text-align: center;
}

/* Miscellaneous Styling */
.oop {
  position: relative;
  z-index: auto;
  height: 10px;
  background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  /* header {
    height: auto;
    width: 100%;
  } */

  #map {
    /* height: calc(100vh - 60px); */
    transform: rotate(90deg);
    transform-origin: center;
    position: relative;
    width: 100vh;
    top: 50%;
    left: 50%;
    margin-left: -50vh;
    margin-top: -50vw;
  }

  #progress {
    /* top: 0; */
    width: 100vw;
    /* padding: 10px; */
  }

  #bar {
    /* width: 100vw; */
  }

  #extra-info {
    /* width: 90vw; */
    font-size: 8pt;
    font-weight: 600;
    /* padding: 8px 16px; */
  }
}
